.img-fluid {
    max-width: 100%;
    height: 31rem;
    animation-name: float ;
    animation-duration: 3s;
    animation-iteration-count: 1;
  }

  #accordionExample{
    margin-top: .5rem;
    --bs-accordion-btn-bg:#1B174A;
    --bs-accordion-btn-color:white;
    animation-name: float ;
    animation-duration: 3s;
    animation-iteration-count: 1;

  }

  .navi-2{
    padding: 1rem auto;
    animation-name: float ;
    animation-duration: 3s;
    animation-iteration-count: 1;
  }
  @keyframes float {



    from{
      transform: scale(3);
    }to{
      transform: scale(1);
    }
      
  
    
  }